<!--
File Name: feature.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://comp2068-200288068-midterm.azurewebsites.net/
File Description: Partial for index features 
-->
<div class="text-center">
<h1>My Favourite People</h1>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div id="feature-picture" class="col-md-5">
        <img src="Assets/jt.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Justin Trudeau" height="250px" width="250px">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Justin Trudeau<span class="text-muted"></span></h2>
        <p class="lead">Justin Pierre James Trudeau PC MP (born December 25, 1971) is a Canadian politician who is the 23rd and current Prime Minister of Canada, as well as the Leader of the Liberal Party. The second-youngest Canadian prime minister after Joe Clark, he is also, as the eldest son of former Prime Minister Pierre Trudeau, the first child of a previous prime minister to hold the post.</p>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette" id="left-feature">
    <div class="col-md-7" id="mid-feature">
        <h2 class="featurette-heading">Gandhi<span class="text-muted"></span></h2>
        <p class="lead">Mohandas Karamchand Gandhi was the preeminent leader of the Indian independence movement in British-ruled India. Employing nonviolent civil disobedience, Gandhi led India to independence and inspired movements for civil rights and freedom across the world. </p>
    </div>
    <div id="feature-picture" class="col-md-5">
        <img src="Assets/gandhi.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Gandhi" height="250px" width="250px">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div id="feature-picture" class="col-md-5">
        <img src="Assets/jesus.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Jesus" height="250px" width="250px">
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Jesus<span class="text-muted"></span></h2>
        <p class="lead">Jesus also referred to as Jesus of Nazareth or Jesus Christ, is the central figure of Christianity, whom the teachings of most Christian denominations hold to be the Son of God. Christians believe Jesus is the awaited Messiah (or Christ, the Anointed One) of the Old Testament. Virtually all modern scholars of antiquity agree that Jesus existed historically, and historians consider the Synoptic Gospels (Matthew, Mark and Luke) to be the best sources for investigating the historical Jesus.</p>
    </div>
</div>
<hr class="featurette-divider">