 <!--
File Name: footer.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://comp2068-200288068-midterm.azurewebsites.net/
File Description: footer partial page
-->
 
  <!-- JavaScript Section -->
    <script src="Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>