<!--
File Name: header.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://comp2068-200288068-midterm.azurewebsites.net/
File Description: header partial page
-->

<!DOCTYPE html>
<html>
  <head>
    <meta charset=”utf-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel='stylesheet' href="/Scripts/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href="/Scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel='stylesheet' href="/Scripts/lib/font-awesome/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/Content/app.css' />
  </head>
  <body>