<!--
File Name: error.ejs
Author Name: Robert Reynolds (200288068)
Website Name: http://comp2068-200288068-midterm.azurewebsites.net/
File Description: error page
-->


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
